black[jupyter]==22.3.0
grequests==0.6.0
jupyter==1.0.0
matplotlib==3.5.1
numpy==1.22.3
pandas-datapackage-reader==0.18.0
pandas==1.4.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
sklearn==0.0
wbgapi==1.0.7
rpy2==3.5.1
seaborn==0.11.2
tensorflow==2.8.0
pandas-datapackage-reader==0.18.0